# tests generated

CHB_tests/bchlib_tests/txbchlib/bCHDoublewordTest
CHB_tests/bchlib_tests/txbchlib/bCHImmediateTest
CHB_tests/bchlib_tests/txbchlib/bCHLocationTest
CHB_tests/bchlibarm32_tests/txbchlibarm32/bCHDisassembleARMInstructionTest
CHB_tests/bchlibarm32_tests/txbchlibarm32/bCHDisassembleThumbInstructionTest
CHB_tests/bchlibarm32_tests/txbchlibarm32/bCHARMJumptableTest
CHB_tests/bchlibarm32_tests/txbchlibarm32/bCHTranslateARMToCHIFTest
CHB_tests/bchlibmips32_tests/txbchlibmips32/bCHAssembleMIPSInstructionTest
CHB_tests/bchlibmips32_tests/txbchlibmips32/bCHDisassembleMIPSInstructionTest
CHB_tests/bchlibpower32_tests/txbchlibpower32/bCHDisassembleVLEInstructionTest
CH_tests/xprlib_tests/txxprlib/xconsequenceTest
CH_tests/xprlib_tests/txxprlib/xsimplifyTest