name: CI

on: [pull_request, push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: avsm/setup-ocaml@v1.0
      with:
        ocaml-version: 4.07.1
    - name: Install dependencies
      run: |
        sudo apt-get install -y libgtksourceview2.0-dev libgnomecanvas2-dev
        opam install zarith ocamlbuild conf-gtksourceview conf-gnomecanvas lablgtk
    - name: Compile CodeHawk
      run: eval $(opam env) && cd CodeHawk && ./full_make.sh
